@import url('https://fonts.googleapis.com/css?family=Athelas');

.custom-image img {
  display: block;
  height: 280px;
}

.custom-card h3 {

  background-image: linear-gradient(to left, #6892ae, #d72d34);
  font-family: 'Athelas';
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-card p {
  padding-top: 10px;
  color: #999;
  height: 150px;
  overflow: hidden;
  text-align: justify;
}

@media (min-width: 768px)
{
  .custom-image img {
    height: 300px;
  }
}

@media (min-width: 992px)
{
  .custom-image img {
    height: 350px;
  }
}

@media (min-width: 1200px)
{
  .custom-image img {
    height: 400px;
  }
}
