@import url('http://fonts.googleapis.com/css?family=Lobster+Two');
@import '~antd/dist/antd.css';


#statementDiv h2 {
  font-family: 'Lobster Two';
  font-size: 30px;
  font-weight: bold;
  color: #108ee9;
}

#statementDiv h4 {
  font-family: 'Lobster Two';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
